<div class="recipe-wrapper fix-hebrew">
  <div>
    <h2>{{(myRecipe$ | async).name}}</h2>
    <groceries-list [groceries]="(myRecipe$ | async).groceriesList" [isEditMode]="isEditMode"></groceries-list>
    <recipe-description [description]="(myRecipe$ | async).recipeDescription" [isEditMode]="isEditMode"></recipe-description>
    <button (click)="EditModeClick()" *ngIf="isEditMode===false">Edit</button>
    <button (click)="SaveModeClick()" *ngIf="isEditMode===true">Save</button>
  </div>
  <div class="recipe-image-wrapper">
    <img [src]="(myRecipe$ | async).image">
    <!--<img ng-src="myRecipe$ | async).image">-->
  </div>
</div>
